body {
  color: white;
  background-color: #999999;
}

/** Header **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar {
  padding-bottom: 25px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Marcellus', serif;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.navbar-header button.navbar-toggle {
  float: right;
  margin: 25px;
}

#nav-list a {
  color: white;
  text-align: center;
  font-size: 1.8em;
}

/** Body **/
h1.text-center {
  padding: 20px;
}

.body-container {
  background-color: #999999;  /* grey */
}

.col-xs-12 {
  background-color: green;
  padding: 15px;
  margin: 0 30px 30px 0;
}

/** Responsive design **/
@media (min-width: 768px) {
  ul {
    visibility: hidden;
    display: none;
  }
}
